h1, h2, h3, h4, h5, h6 {
	color: #000 !important;
	margin: 0 0 10px;
	font-weight: 700;
} 
.list-links li>a:hover, .list-links li>a:focus, .list-links li.active>a {
	color: #1d7590 !important;
	-webkit-transform: translateX(10px);
	-ms-transform: translateX(10px);
	transform: translateX(10px);
}
